 <link href="https://fonts.googleapis.com/css?family=Cairo|Lato|Raleway|Righteous" rel="stylesheet">


<div class="video-container">
  <video id="video" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source type="video/mp4" />
  </video>
<!--   <div class="video-filter" id="yellow_filter" style="background-color: rgba(234, 224, 37,.5)"></div>
  <div class="video-filter" id="red_filter" style="background-color: rgba(196, 49, 33,.5)"></div> -->
</div>
<canvas id="mainCanvas">
</canvas>