<ion-header>
  <ion-toolbar>
    <ion-title>Workout</ion-title>
  </ion-toolbar>
</ion-header>


<div class="video-container">
  <video id="video" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source type="video/mp4" />
  </video>
</div>
<canvas id="mainCanvas">
</canvas>
<!-- <ion-content padding>
  <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
          <!-- <video id="video" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
           <source  type="video/mp4" />
          </video> -->
          <!-- <div class="video-container">
            <video id="video" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
              <source type="video/mp4" />
            </video>
          </div>
          <h2 *ngIf="!rest">{{rep}}</h2>
          <h2 *ngIf="rest">REST</h2>
          <h1 style="color:red" *ngIf="shoulder && !rest">CHECK ELBOW ANGLE.</h1> -->
          <!-- <h1 style="color:red"*ngIf="correct_orientation<20 && correct_position>=20">PLEASE GET INTO THE CORRECT ORIENTATION</h1>
          <h1 style="color:red"*ngIf="correct_position<20">PLEASE GET INTO THE CORRECT POSITION</h1>
          <ion-button href="/exercise">Next Exercise</ion-button>
          <ion-button href="/feedback">End Workout</ion-button> -->
        <!-- </ion-row>
  </ion-grid>
</ion-content> -->
