<ion-header>
	<link href="https://fonts.googleapis.com/css?family=Cairo|Lato|Raleway|Righteous" rel="stylesheet">


</ion-header>

<ion-content padding color="base">
<img src="assets/icon/logo3.png" alt="your image">
<div class="main_content">
<ion-button color="dark" href="/data" block>Workout Stats <ion-icon name="stats">Workout Stats</ion-icon> </ion-button>
<br>
<br>
<ion-button ion-button color="light" href="/home" block>Start Workout <ion-icon name="flame"></ion-icon></ion-button>
</div>
</ion-content>
