<ion-header>
  
   <ion-toolbar color="base">
  <ion-buttons slot="secondary">
    <ion-button href="/start">
      <ion-icon slot="icon-only" name="home" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
  
</ion-header>

<ion-content color="base">

    <ion-card>
      <ion-card-header>
        Exercises Performed
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Exercises Performed
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Bicep Curl - Weight Progression (KG)
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

</ion-content>