<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <!-- <ion-grid style="height: 10%">
        <!-- <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-button href="/exercise">Start Workout</ion-button>
        </ion-row> -->
        <!-- <ion-row align-items-center>
            <ion-button href="/exercise">Start Workout</ion-button>
        </ion-row> -->
    <!-- </ion-grid> -->

    <ion-list>
    <ion-item>
        <ion-label stacked>Bicep Curl Sets</ion-label>
        <ion-input type="number" text-right id="input" [(ngModel)]="curl_sets"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Squat Sets</ion-label>
        <ion-input type="number" text-right id="input" [(ngModel)]="squat_sets"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Reps per set</ion-label>
        <ion-input type="number" text-right id="input" [(ngModel)]="reps_per_set" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Rest between sets (secs)</ion-label>
        <ion-input type="number" text-right id="input" [(ngModel)]="rest_time"></ion-input>
    </ion-item>
    <!-- <ion-button href="/exercise">Start Workout</ion-button> -->
    <ion-button (click)=go()>Start Workout</ion-button>
  </ion-list>
</ion-content>
