<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
  <!-- TensorFlow says {{ prediction }} -->
  <br>
  <!-- <input type="number" (change)="predict($event.target.value)"> -->
  <!-- <video id = "video">

  </video> -->

  <!-- <div id='main' style='display:none'>
        <video id="video" playsinline style=" -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        display: none;
        ">
        </video>
        <canvas id="output" ></canvas>
    </div> -->
    <ion-content overflow-scroll="true">
      <video id="video" ontrols="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
       <source  type="video/mp4" />
      </video>
      <h2>{{rep}}</h2>
      <h2>{{state}}</h2>
      <h1 style="color:red"*ngIf="elbow">CHECK ELBOW ANGLE.</h1>
      <h1 style="color:red"*ngIf="CORRECT_ORIENTATION<20 && CORRECT_POSITION>=20">PLEASE GET INTO THE CORRECT ORIENTATION</h1>
      <h1 style="color:red"*ngIf="CORRECT_POSITION<20">PLEASE GET INTO THE CORRECT POSITION</h1>

      <ion-button href="/feedback">Feedback</ion-button>
      <ion-button (click)="go()">Go</ion-button>
    </ion-content>

</ion-content>
